{% extends "main/layout.html" %}

{% block title %}
    <title>Новости</title>
{% endblock %}

{% block content %}
    <h1 class="mt-4">Новости</h1>
    <p>Здесь вы найдете последние новости о разработке веб-приложений на Django и других интересных темах.</p>
    <div class="row">

        <main class="col-md-9">
            {% for news in news_list %}
                <div class="news-item">
                    <h2>{{ news.title }}</h2>
                    <p>{{ news.pub_date|date:"d M Y H:i" }}</p>
                    <p><strong>Автор: </strong>{{ news.author.username }}</p>
                    <p>{{ news.short_description }}</p>
                    <p>{{ news.text }}</p>
                </div>
            {% endfor %}
        </main>
    </div>
{% endblock %}
