{% extends "main/layout.html" %}

{% block title %}
    <title>Главная страница</title>
{% endblock %}

{% block content %}
    <div class="jumbotron mt-4">
        <h1 class="display-4">Добро пожаловать на наш курс по созданию сайтов на Django</h1>
        <p class="lead">Научитесь создавать мощные веб-приложения с использованием Django.</p>
        <hr class="my-4">
        <p>Этот курс охватывает все аспекты веб-разработки на Django, включая моделирование данных, создание форм, аутентификацию пользователей и многое другое.</p>
        <a class="btn btn-primary btn-lg" href="/new" role="button">Узнать больше</a>
    </div>
{% endblock %}
