
{% extends "main/layout.html" %}

    {% block title %}
        <title>Первая DJANGO страница</title>
    {% endblock %}

    {% block content %}

        <h1 class="display-4">Добро пожаловать на наш курс по созданию сайтов на Django</h1>
        <p class="lead">Научитесь создавать мощные веб-приложения с использованием Django.</p>
        <p>Этот курс охватывает все аспекты веб-разработки на Django, включая моделирование данных, создание форм, аутентификацию пользователей и многое другое.</p>
        <h2>Основы Django</h2>
        <p>Django - это мощный фреймворк для веб-разработки на Python. В этом курсе вы изучите основные концепции Django, включая работу с моделями, представлениями, шаблонами и формами. Вы научитесь создавать и управлять базами данных, обрабатывать пользовательские запросы и создавать динамические веб-страницы.</p>
        <h2>Создание приложений</h2>
        <p>Научитесь создавать полноценные веб-приложения с использованием Django. Мы рассмотрим все этапы разработки, начиная от проектирования архитектуры приложения и заканчивая его развертыванием на сервере. Вы научитесь создавать аутентификацию и авторизацию пользователей, работать с файлами и изображениями, а также настраивать админку Django.</p>
        <h2>Стилизация с Bootstrap</h2>
        <p>Сделайте ваши веб-приложения привлекательными и удобными для пользователя с помощью Bootstrap. В этом курсе вы научитесь использовать компоненты Bootstrap, такие как сетки, кнопки, формы и навигационные панели, чтобы создавать современные и адаптивные интерфейсы. Мы также рассмотрим, как кастомизировать Bootstrap, чтобы сделать ваши проекты уникальными.</p>

    {% endblock %}
